<strong>History ( Iamroot.org 커널 스터디 그룹 15차A조 )</strong><br>
1주차 - 28, April, 2018, 숭실대학교 정보과학관 204호 강의실 (리눅스 내부구조 ~ 72p)<br>
2주차 - 5, May, 2018, 넷마블 본사 19층 회의실 (리눅스 내부구조 ~ 117p)<br>
3주차 - 12, May, 2018, 숭실대학교 문화관 3307호 (리눅스 내부구조 ~ 159p)<br>
4주차 - 19, May, 2018, 숭실대학교 문화관 3307호 (리눅스 내부구조 ~ 174p)<br>
5주차 - 26, May, 2018, 숭실대학교 문화관 3312호 (리눅스 내부구조 ~ 247p 끝), Linuxias 님 systemd, ELF 세미나<br>
6주차 - 2, June, 2018, 숭실대학교 문화관 3307호 리눅스 커널 심층분석 개정 3판 ~103 page<br>
7주차 - 9, June, 2018, 숭실대학교 문화관 3307호 리눅스 커널 심층분석 개정 3판 ~200 page<br>
8주차 - 16, June, 2018, 숭실대학교 문화관 3307호 리눅스 커널 심층분석 개정 3판 ~239 page<br>
9주차 - 23, June, 2018, 을지로입구역 SKT타워 지하2층 G회의실 리눅스 커널 심층분석 개정 3판 ~294 page<br>
10주차 - 30, June, 2018, 여의도역 국제금융로 2길 25 리눅스 커널 심층분석 개정 3판 ~349 page<br>
11주차 - 7, July, 2018, 서울특별시 관악구 남현동 1062-10번지 3층 리눅스 커널 심층분석 개정 3판 ~417 page<br>
12주차 - 14, July, 2018, 서울특별시 관악구 남현동 1062-10번지 3층 리눅스 커널 심층분석 개정 3판 ~462 page<br>
13주차 - 21, July, 2018, 서울특별시 강남구 강남대로94길 18 2층 리눅스 커널 심층분석 개정 3판 ~512 page<br>
14주차 - 28, July, 2018, 서울특별시 강남구 강남대로94길 18 2층 리눅스 커널 심층분석 개정 3판 ~584 page 끝<br>
15주차 - 4, August, 2018, 서울특별시 관악구 남현3길 62 지하, start_kernel ~4line<br>
16주차 - 11, August, 2018, 강남역 스터디블룸 4층 3번방, start_kernel ~setup_arch()<br>
17주차 - 18, August, 2018, 강남역 이지스터디 3층 G번방, early_fixmap_init() ~ pud_init()<br>
18주차 - 25, August, 2018, 강남역 이지스터디 2층 11,15번방, early_fixmap_init() ~ pud_init()<br>
19주차 - 1, September, 2018, 사당역 더포도 스터디룸 3층 5번방,  early_init_dt_scan_memory() ~ memblock_add_range()<br>
20주차 - 8, September, 2018, 서울특별시 서초구 강남대로 53길 7 애니타워 1204호, setup_machine_fd() ~ efi_init()<br>
21주차 - 15, September, 2018, 강남역 이지스터디 2층 15번방, arm64_memblock_init ~ early_init_fdt_scan_reserved_mem()<br>
22주차 -<br>
23주차 -<br>
24주차 - 6, October, 2018, 강남역 이지스터디 3층 G번방, acpi_boot_table_init() ~ memory_present()<br>
25주차 - 13, October, 2018, 강남역 이지스터디 2층 12번방, arm64_memory_present() ~ sparse_init()<br>
26주차 - 20, October, 2018, 강남역 이지스터디 3층 B번방, sparse_init() ~ memblock_free_early()<br>
27주차 - 27, October, 2018, 강남역 이지스터디 2층 5번방, zone_sizes_init() ~ find_zone_movable_pfns_for_nodes()<br>
28주차 - 3, November, 2018, 강남역 이지스터디 2층  5번방, free_area_init_nodes()<br>
29주차 - 10, November, 2018, 강남역 이지스터디 3층 H번방, bootmem_init()  ~ cpu_read_bootcpu_ops()<br>
30주차 - 17, November, 2018, 여의도역 국제금융로 2길 25 16층, cpu_read_bootcpu_ops() ~ setup_per_cpu_areas()<br>
31주차 - 24, November, 2018, 여의도역 국제금융로 2길 25 16층, setup_per_cpu_areas() 진행 중.<br>
32주차 - 1, December, 2018, 당산역 스타벅스, UMA/NUMA, SMP/AMP, page table, percpu 관련내용 복습<br>
33주차 - 8, December, 2018, 사당역 더포도,     setup_per_cpu_areas()~pcpu_setup_first_chunk(거의 끝)<br>
34주차 - 15, December, 2018, 강남역 이지스터디 2층 7번방, setup_per_cpu_areas() 끝.<br>
35주차 - 22, December, 2018, 강남역 이지스터디 2층 12번방, percpu setup이후 작업 코드 진행 중.<br>
36주차 - 29, December, 2018, 사당역 더포도 3층 13번방, 코드로 알아보는 ARM리눅스커널 ~ 48p.<br>
37주차 - 5, January, 2019, 강남역 이지스터디 3층 D번방, 코드로 알아보는 ARM리눅스커널 1장 마침.<br>
38주차 - 12, January, 2019, 강남역 이지스터디 3층 E번방, smp_prepare_boot_cpu.<br>
39주차 - 19, January, 2019, 강남역 스터디블룸 6번방, build_all_zonelists<br>
40주차 - 26, January, 2019, 강남역 이지스터디 3층 D번방, parse_early_param()~setup_log_buf()<br>
